body {
  padding: 16px;
  margin: 0;
}

h1 {
  text-decoration: underline;
}
.volver {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
  color: #333;
  border-radius: 5px;
  display: block;
  width: fit-content;
}

.volver:hover {
  background-color: rgba(255, 255, 255, 1);
}
